body{
  font-family: Arial;
  background-image: url(bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

#main-heading{
  text-align: center;
}

.grid-container{
  display:grid;
  /* justify-content: center; */
  grid-template-columns: 200px 150px 100px;
  column-gap: 10px;
  row-gap: 10px;
  margin-top: 10px;
  margin-left: 500px;
  align-items: center;
}

#todo-input, #todo-date{
  font-size: 15px;
  padding: 15px 5px;
  margin-top: 150px;
}

.btn-delete{
  background-color: rgb(92, 8, 8);
  color: white;
  border: none;
  border-radius: 10px;
  padding: 13px 15px;
  margin-left: 15px;
  cursor: pointer;
}

.btn-todo{
  background-color: rgb(13, 60, 13);
  color: white;
  border: none;
  border-radius: 10px;
  margin-top: 150px;
  margin-left: 20px;
  padding: 13px 10px;
  cursor: pointer;
}

/* .todo-container{
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left: 500px;
  display: flex;
  justify-content: space-between;
} */